.main {
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.dropDown{
    align-self: left;
    justify-content: left;
    padding: 10px 30px 10px 30px;
    background-color: #DC9573;
    text-decoration: none;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 87%;
    margin-top: 0.5%;
}

.top {
    height: 80%;
    width: 70%; 
    background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(255, 181, 146) 50%, rgba(255,255,255,1) 100%);
    margin: auto;
    align-items: center;
}

.uploadFile {
    padding-top: 3%;
    text-align: center;  
    color: white;
}

.fileSetting {
    text-align: center;
    color: white;
    margin-bottom: 4%;
}

.pictureBox {
    height: 60%;
    width: 70%;
    border: 2px rgb(69, 69, 122) dashed;
    margin: auto;
    padding-top: 1%;
    text-align: center;
}

.picture {
    height: 36%;
    width: 17%;
    display: block;
    margin: auto;
}

.browseFile {
    margin-top: 2%;
    margin-bottom: 2%;
}

.uploadMessage {
    padding-bottom: 2%;
}

.selectFormat {
    align-self: center;
    margin: auto;
    width: 25%;
    font-size: 12px;
}

.button {
}

.drop {
    height: 20px;
}

.loaderView{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.logoImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
    -webkit-animation:spin 500ms linear infinite;
    -moz-animation:spin 500ms linear infinite;
    animation:spin 500ms linear infinite;
}

.uploadImagesButton {
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.buttonDiv {
    margin-top: 2%;
} 